.mypage-container {
  position: relative;
  top: 100px;
  width: 100%;
  max-width: 500px;
  height: auto;
  padding: 30px 30px;
  border-radius: 20px;
  border: 1px solid #cecece;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  flex-direction: column; 
}
.mypage-title {
  font-weight: bold;
  font-size: 30px;
  display: flex;
  justify-content: center; 
  align-items: center;  
}

.mypage-title span{
  font-weight: bold;
  font-size: 20px;
  color:#515151;
}
/* 
.mypage-section p {
  font-size: 16px;
  margin: 10px 0;
} */

.mypage-buttons {
  margin-top: 30px;
  display: flex;
  gap: 10px;
  justify-content: center; 
  align-items: center;  
}

.mypage-buttons button {
  padding: 10px 16px;
  border: none;
  background-color: #4285f4;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.mypage-buttons button:hover {
  background-color: #3367d6;
}
.info-table {
  width: 100%;
  max-width: 600px;
  border-collapse: collapse;
  margin: 20px auto;
}

.info-table th,
.info-table td {
  border: 1px solid #ccc;
  padding: 12px 16px;
  text-align: left;
  color: #000000;
}

.info-table th {
  background-color: #f8f8f8;
  font-weight: bold;
  color: #000000;
  width: 25%;
}