.create-page {
    padding: 40px;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .create-page h2 {
    font-size: 26px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .create-page label {
    font-weight: bold;
    margin-bottom: 4px;
  }
  
  .create-page input,
  .create-page select,
  .create-page textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .create-page textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  .create-button {
    padding: 10px;
    background-color: #722f37;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    left: 1100px;
  }
  
  .create-button:hover {
    background-color: #a5484f;
  }

  .create-page input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }