.page-findAccount {
    position: relative;
    top: 100px;
    width: 100%;
    max-width: 500px;
    padding: 0 20px;
    border-radius: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #ffffff;
    border: 1px solid #cecece;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }


  .tabWrap {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 16px;
  }
  
  .tabWrap button {
    width: 100%;
    border: none;
    font-weight: 700;
    background-color: #ffffff;
    color: #333;
    cursor: pointer;
  }
  
  .tabWrap button:hover {
    background-color: #e0e0e0;
  }
  
  .contentWrap {
    margin-bottom: 30px;
  }
  
  .inputTitle {
    font-size: 14px;
    font-weight: 600;
    color: #262626;
    margin-top: 20px;
  }
  
  .inputWrap {
    display: flex;
    border-radius: 8px;
    padding: 16px;
    margin-top: 8px;
    background-color: white;
    border: 1px solid #e2e0e0;
  }
  
  .input {
    width: 100%;
    outline: none;
    border: none;
    height: 20px;
    font-size: 14px;
  }

  .input::placeholder {
  color: #7d7d7d; 
  opacity: 1; 
}
  
  .bottomButton {
    width: 100%;
    height: 48px;
    border: 2px solid #3751D5;
    font-weight: 700;
    background-color: #ffffff;
    border-radius: 10px;
    color: #3751D5;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
.resultMessageWrap {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #ef0000;
  text-align: center;
  line-height: 1.6;
  word-break: keep-all;
}

.tabWrap {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ccc;
}

.tab-button.active {
  background-color: #f0f0f0; /* 선택된 탭은 흰색 */
  border: 2px solid #f0f0f0;
  color: #111;
  font-weight: 700;

}


.tab-button {
  flex: 1;
  padding: 12px 0;
  font-size: 15px;
  font-weight: 600;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  color: #555;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* 기본: 좌우 둥글게 */
.tab-button:first-child {
  border-radius: 10px 0 0 10px;
}
.tab-button:last-child {
  border-radius: 0 10px 10px 0;
}

/* ✅ active인 경우: 반대쪽만 둥글게 */
.tab-button.active:first-child {
  border-radius: 10px 0 0 10px;
}

.tab-button.active:last-child {
  border-radius: 0 10px 10px 0;
}