.home-container {
  display: grid;
  grid-template-columns: 500px 500px;
  justify-content: center;
  gap: 100px;
  padding: 40px;
  margin: 0 auto;
}

.category-card {
  width: 500px;
  height: 300px;
  border-radius: 24px !important;
  background: linear-gradient(135deg, #3751D5 0%, #3A84FF 69%, #6ECFFF 100%);
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.category-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  border-color: #ffffff;
}

.card-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.category-title {
  font-size: 40px  !important;
  font-weight: 900;
  color: #ffffff;
}

.category-content {
  font-size: 25px !important;
  font-weight: 800;
  color: #ffffff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); /* 약간의 그림자 효과로 선명하게 */
}