.page-signup {
  position: relative;
  top: 100px;
  width: 100%;
  max-width: 500px;
  padding: 0 20px;
  border-radius: 25px;
  border: 1px solid #cecece;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.titleWrap {
  margin-top: 60px;
  font-size: 26px;
  font-weight: 700;
  color: #262626;
  text-align: center;
}

.contentWrap {
  margin-top: 30px;
  margin-bottom: 35px;
}

.inputTitle {
  font-size: 14px;
  font-weight: 600;
  color: #262626;
  margin-bottom: 6px;
}

.inputWrap {
  display: flex;
  padding: 16px;
  margin-top: 8px;
  background-color: white;
  border: 1px solid #e2e0e0;
}

.inputWrap:focus-within {
  border: 2px solid #3A84FF;
}

.input {
  width: 100%;
  outline: none;
  border: none;
  height: 20px;
  font-size: 14px;
  font-weight: 400;
}

.input::placeholder {
  color: #dadada;
}

.errorMessageWrap {
  margin-top: 8px;
  color: #ef0000;
  font-size: 12px;
}

.bottomButton {
  width: 100%;
  height: 48px;
  border: none;
  font-weight: 800;
  font-size: 17px;
  background-color: #6ECFFF;
  color: #6ECFFF;
  margin-bottom: 40px;
  cursor: pointer;
}

.bottomButton:disabled {
  background-color: #ffffff;
  color: #3751D5;
  border: 2px solid #3751D5;
  cursor: not-allowed;
  font-weight: bold;
}

.line {
  border: none;
  border-top: 1px solid #cecece;
  margin: 20px 0;
}