/* CommonButton.css */

/* 기본 버튼 스타일 */
.common-button {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #2E7D32;
    color: white;
    transition: background-color 0.2s;
  }
  
  .common-button:hover {
    background-color: #388e3c;
  }
  
  /* 탭 버튼 스타일 */
  .common-button.tab {
    background-color: white;
    color: #2E7D32;
    border: 1px solid #ccc;
  }
  
  .common-button.tab:hover {
    background-color: #f0f0f0;
  }
  
  .common-button.tab.active {
    background-color: #2E7D32;
    color: white;
    border-color: #2E7D32;
    font-weight: bold;
  }