.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 40px;
  background-color: #ffffff; 
  color: #000000;
  position: relative;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #e0e0e0;

}

.logo {
  position: absolute;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 1px;
  align-items: center;
}

.logo-link {
  text-decoration: none;
  color: inherit;
}

.nav {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: auto;
}

.nav-link,
.nav-button {
  font-size: 15px;
  color: #000000;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 6px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover,
.nav-button:hover {
  background-color: #3A84FF; /* hover green */
  color: #000000;
}

.welcome {
  font-size: 15px;
  color: #3A84FF;
  margin-right: 6px;
}